*.bak
*.o
*.exe
*.tmp
*~
codeblocks/obj/
codeblocks/bin/
codeblocks/*.depend
codeblocks/*.layout
codeblocks_win/*~
codeblocks_win/bin/*
test/*/bin/*
test/*/obj/*
test/*/*.depend
test/*/*.layout

*/gmon.out

autom4te.cache/
# aclocal
aclocal.m4
# autoheader
config.h.in
# autoconf
configure
# automake -a
compile
config.guess
config.sub
depcomp
install-sh
makefile.in
missing
# configure
.deps/
config.h
config.log
config.status
makefile
stamp-h1

!codeblocks_win/makefile
