*.bak
*.o
*.exe
*.tmp
*~
codeblocks/obj/
codeblocks/bin/
codeblocks/*.depend
codeblocks/*.layout
codeblocks_win/*~
codeblocks_win/bin/*
test/*/bin/*
test/*/obj/*
test/*/*.depend
test/*/*.layout

*/gmon.out

.deps/
autom4te.cache/
config.h
config.log
config.status
makefile
stamp-h1

!codeblocks_win/makefile
